/* FORM */

.form-section {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.emprendimiento-form {
    background-color: #F4F6F1;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    border: 2px solid #3B2C26;
}

.emprendimiento-form label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    font-family: 'Playfair Display', serif;
}

.emprendimiento-form input,
.emprendimiento-form textarea,
.emprendimiento-form select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.emprendimiento-form textarea {
    resize: vertical;
}

.btn {
    display: block;
    background-color: #355E3B;
    color: #F4F6F1;
    padding: 0.75rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2c4d31;
}