@media (min-width: 768px) {

    /* Ocultar botón hamburguesa */
    #menu {
        display: none;
    }

    /* Menú horizontal a la derecha */
    .nav-links {
        display: flex;
        flex-direction: row;
        background: none;
        position: static;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        border: none;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        color: #F4F6F1;
    }

    .hero {
        align-items: center;
    }

    .cards {
        flex-direction: row;
    }

    .cta {
        text-align: center;
        padding: 1rem;
        background-color: #3B2C26;
        color: #F4F6F1;
        margin: 20px auto;
        border-radius: 8px;
        width: 80%;
    }

    #quote-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    #quote-text {
        grid-column: 1/2;
    }

    #quote-img {
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote {
        font-style: normal;
        text-align: left;
        padding: 1rem;
        border-left: 5px solid #355E3B;
        margin: 20px;
    }

    .card {
        flex: 1;
        margin: 0.5rem;
    }

    .hero img {
        width: 100%;
        max-width: 600px;
    }

    #btn-learnmore {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    #lista-emprendimientos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    .card-emprendimiento img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

        .info-block {
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    
        .info-block.reverse {
            flex-direction: row-reverse;
        }
    
        .info-block img {
            width: 30%;
            padding: 25px;
        }
    
        .text {
            width: 50%;
            padding: 0 15px;
        }

        .auto-img{
            border-radius: 15px;
        }

        #autosuficiencia {
            padding: 50px;
            background-color: #F4F6F1;
        }
}