@media(min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .menu-toggle {
        display: none;
    }

    .cards {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        max-width: 250px;
    }

    .logos {
        gap: 20px;
    }
}